<div class="container">
<h2>CAT</h2>
<div>
<img src="/images/cat1.jpg"></img>
<ul>
  <li><a class="btn" href="/"> I am done looking at the cat</a></li>
  <li><a class="btn"> I would like to continue looking at the cat</a><li>
  <li><a class="btn" href="http://placekitten.com">I would like to look at other cats</a></li>
</ul>
</div>