<h1>CAT</h1>
<img src="/images/cat1.jpg"></img>
<button> I am done looking at the cat</button>
<button> I would like to continue looking at the cat</button>
<button>I would like to look at other cats</button>