<div class="container">

<h2> Programming </h2>
<p> In 2013, I was one of 28 candidates selected for the Web Development Fellowship at the Flatiron School.  I'm currently learning/mastering/banging my head against:
	<ul>
		<li>Ruby</li>
		<li>Rails</li>
		<li>Sinatra</li>
		<li>SQL</li>
		<li>ActiveRecord</li> 
		<li>Javascript</li> 
		<li>HTML/CSS</li>
		<li>R</li>
		<li>d3.js</li>
	</ul>
I'm especially excited about <strong>web scraping</strong>, <strong>data</strong> and <strong>databases</strong>. </p>

<h3>Some of my projects...</h3>
	<h4>(you can see more works in progress on <a href="https://github.com/tessafallon">GitHub</a>)</h4>
	<ul>
		<li><a href="https://github.com/tessafallon/dpla">DPLA Search API: Wrapper for Ruby</a></li>
		<li>Jeopardy! with Jorge Luis Borges!</li>
		<li>R for Non-Pirates</li>
		<li><a href="https://github.com/tessafallon/transcriot">NYPL Labs Crowdsourced Transcription</a> (Rails, jQuery)</li>
		<li><a href="https://github.com/tessafallon/movie_app">"On the Scene" App</a> (Rails, Geocoder, RottenTomatoes API)</li>
		<li><a href="https://github.com/tessafallon/emergency-compliment">Emergency Compliment Generator</a> (Ruby, Sinatra)</li>
		<li><a href="https://github.com/tessafallon/games/blob/master/cia.rb">XML Scraper in action </a>(Ruby, Nokogiri)</li>
	</ul>

<h3>Some meetups I haunt...or plan to haunt.</h3>
	<ul>
		<li>Code Crew</li>
		<li>Brooklyn Internets</li>
		<li>NYC Ruby Women</li>
		<li>NYC Open Data</li>
		<li>Nodebots</li>
	</ul>

</div>