<h1> Programming </h1>
<p> In 2013, I was one of 28 candidates selected for the Web Development Fellowship at the Flatiron School.  I'm currently learning/mastering/banging my head against:
	<ul>
		<li>Ruby</li>
		<li>Sinatra</li>
		<li>SQL</li>
		<li>Sequel</li> 
		<li>ActiveRecord</li> 
		<li>Javascript</li> 
		<li>...and a bit of HTML/CSS</li>
	</ul>
By the end of the fellowship, I'll have added Rails, and app development to this list. I'm especially excited about <strong>web scraping</strong> and <strong>databases</strong>. </p>

<h3>Some of my projects (you can find them all on github)</h3>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

<h3>Some meetups I haunt</h3>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

<h3>Awesome organizations and folks I follow</h3>
<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
