<div class="jumbotron">
      <div class="container">
        <h1>The Coding Contessa</h1>
        <p>IN WHICH the intrepid internet denizen is introduced to the work and musings of Tessa Fallon, full-stack developer in-training, archivist, and sometime librarian, bravely navigating both the programming and LIS worlds while overcoming the hardship of not actually being a contessa despite her awesomeness.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/dev">Learn more about me &raquo;</a></p>
      </div>
</div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Programming</h2>
          <p>Projects, works in progress, and works just brewing created during the course of my fellowship at the Flatiron School.</p>
          <p><a class="btn btn-default" href="/dev" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Web Archiving</h2>
          <p>Information about my work in web archiving, libraries, and other exotic places</p>
          <p><a class="btn btn-default" href="webarch" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Cat Ownership</h2>
          <p>This is honestly just a photo of my cat. I know you'll click here first. That's okay. Come back here when you're done.</p>
          <p><a class="btn btn-default" href="/cat" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Tessa Fallon</p>
      </footer>
    </div>