<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

      <div class="container">
        <h2>The Coding Contessa</h2>
        <p>IN WHICH the intrepid internet denizen is introduced to the work and musings of Tessa Fallon, full-stack developer in-training, archivist, and sometime librarian, bravely navigating both the programming and LIS worlds while overcoming the hardship of not actually being a contessa despite her awesomeness.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/dev">Learn more about me &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Programming</h2>
          <p>Projects, works in progress, and works just brewing created during the course of my fellowship at the Flatiron School.</p>
          <p><a class="btn btn-default" href="/dev" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Web Archiving</h2>
          <p>Information about my work in web archiving, libraries, and other exotic places</p>
          <p><a class="btn btn-default" href="https://www.linkedin.com/in/tessafallon" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Cat Ownership</h2>
          <p>This is honestly just a photo of my cat. I know you'll click here first. That's okay. Come back here when you're done.</p>
          <p><a class="btn btn-default" href="/cat" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Tessa Fallon</p>
      </footer>
    </div>