 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Web-related curiosities, created and curated by the Contessa</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>The Coding Contessa</h1>
        <p>IN WHICH the intrepid internet denizen is introduced to the work and musings of Tessa Fallon, full-stack developer in-training, archivist, and sometime librarian, bravely navigating both the programming and LIS worlds while overcoming the hardship of not actually being a contessa despite her awesomeness.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more about me &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Programming</h2>
          <p>Projects, works in progress, and works just brewing created during the course of my fellowship at the Flatiron School.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Web Archiving</h2>
          <p>Information about my work in web archiving and links to useful and fascinating information.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Cat Ownership</h2>
          <p>This is honestly just a photo of my cat. I know you'll click here first. That's okay. Come back here when you're done.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Tessa Fallon, HRH Contessa Esq Magna Cum Laude Imperatrix, 2013</p>
      </footer>
    </div> <!-- /container -->