<div class="container">
<h2>Web Archiving</h2>
<p>I've worked for various organizations on web archiving-related projects, including Columbia University and Archive-It. The largest project I worked on to date is the Human Rights Web Archive.<p>

<p>In 2012, I co-founded the Web Archivists Roundtable of the Society for American Archivists, the first professional group of its kind in the United States.  I currently serve as the Chair.</p>
</div>